@font-face{
	font-family:"gothamLight";
	src:url("fonts/53f72e41-ffd4-47d4-b8bf-b1ab3cada2e5.eot?iefix") format("eot");
}

@font-face{
	font-family:"gothamLight";
	src:url("fonts/53f72e41-ffd4-47d4-b8bf-b1ab3cada2e5.eot?iefix");
	src:url("fonts/fb5639f2-f57b-487d-9610-3dc50820ab27.woff") format("woff"),url("fonts/2eafe9b7-5a21-49c0-84ca-54c54f899019.ttf") format("truetype"),url("fonts/0a2fe21c-cfdd-4f40-9dca-782e95c1fa90.svg#0a2fe21c-cfdd-4f40-9dca-782e95c1fa90") format("svg");
}

@font-face{
	font-family:"gothamMedium";
	src:url("fonts/ccd538c8-85a6-4215-9f3f-643c415bbb19.eot?iefix") format("eot");
}

@font-face{
	font-family:"gothamMedium";
	src:url("fonts/ccd538c8-85a6-4215-9f3f-643c415bbb19.eot?iefix");
	src:url("fonts/e8e438df-9715-40ed-b1ae-58760b01a3c0.woff") format("woff"),url("fonts/baf65064-a8a8-459d-96ad-d315581d5181.ttf") format("truetype"),url("fonts/76bd19c9-c46a-4c27-b80e-f8bd0ecd6057.svg#76bd19c9-c46a-4c27-b80e-f8bd0ecd6057") format("svg");
}

@font-face{
	font-family:"gothamBook";
	src:url("fonts/ccd538c8-85a6-4215-9f3f-643c415bbb19.eot?iefix") format("eot");
}

@font-face{
	font-family:"gothamBook";
	src:url("fonts/ccd538c8-85a6-4215-9f3f-643c415bbb19.eot?iefix");
	src:url("fonts/e8e438df-9715-40ed-b1ae-58760b01a3c0.woff") format("woff"),url("fonts/baf65064-a8a8-459d-96ad-d315581d5181.ttf") format("truetype"),url("fonts/76bd19c9-c46a-4c27-b80e-f8bd0ecd6057.svg#76bd19c9-c46a-4c27-b80e-f8bd0ecd6057") format("svg");
}
